@font-face {
    font-family: 'CeraProModern500';
    src: url('../font/medium.woff');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'CeraProModern';
    src: url('../font/regular.woff');
    font-weight: 400;
    font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

html {
    font-feature-settings: "lnum","onum" 0,"pnum","tnum" 0;
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'CeraProModern', 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.004em;
    color: #333333;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #fff;
    overflow-x: hidden;
}

.bold {
    font-weight: bold;
}

.g-layout {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.g-container {
    padding-bottom: 35px;
}

.mycloud-logo-container {
    height: 54px;
}

.mycloud-logo {
    padding: 6px 0 0 16px;
}

.sonos-logo-container {
    text-align: center;
}

.sonos-logo-container h1 {
    height: 96px;
    width: auto;
}

.sonos-logo {
    margin: 0 auto;
}

.title {
    font-size: 38px;
    padding: 22px;
    text-align: center;
}

.content {
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
    padding: 0 10px;
}

.content:last-of-type {
    margin: 20px auto 60px auto;
}

.containers {
    width: 100%;
    padding: 0;
    margin: 30px auto 0 auto;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
    -webkit-flex-flow: row;
    justify-content: space-around;
    max-width: 1200px;
}

.container {
    text-align: center;
    padding-bottom: 25px;
    max-width: 200px;
}

.head-of-container {
    height: 125px;
}

.content-image-container {
    padding: 0;
    height: 350px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
}


.container:last-of-type {
    padding-bottom: 0;
}

.container p {
    margin-top: 4px;
    line-height: 1.5;
}

.container p a, .content a {
    color: #00A0DF;
    text-decoration: none;
    font-family: 'CeraProModern500', sans-serif;
}

.container p a:hover, .content a {
    color: #0CACEB;
}

.container img {
    width: 100%;
    height: auto;
}

.container span, .content span {
    font-family: 'CeraProModern500', sans-serif;
}

.container:first-of-type .content-image-container {
    background-image: url(../images/sonos_image1_desktop.png);
}

.container:nth-of-type(2) .content-image-container {
    background-image: url(../images/sonos_image2_desktop.png);
}

.container:nth-of-type(3) .content-image-container {
    background-image: url(../images/sonos_image3_desktop.png);
}

.container:nth-of-type(4) .content-image-container {
    background-image: url(../images/sonos_image4_desktop.png);
}

.container:nth-of-type(5) .content-image-container {
    background-image: url(../images/sonos_image5_desktop.png);
}

.mobile, .tablet {
    display: none;
}

.succes-page .g-container {
padding: 0;
}

.succes-page .content:last-of-type {
    margin: 20px auto 25px auto;
}

.succes-image-block {
    text-align: center;
    margin: 25px auto 25px auto;
}

.succes-image-block svg {
    width: 65px;
}

.succes-page .content:first-of-type {
    margin-bottom: 20px;
}

.sonos-succes-image-block {
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
    height: 743px;
    background-repeat: no-repeat;
    background-image: url("../images/sonos_successimg_desktop.png");
    background-position: bottom center;
    background-size: contain;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2) {
    .container:first-of-type .content-image-container {
        background-image: url(../images/sonos_image1_desktop@2x.png);
    }

    .container:nth-of-type(2) .content-image-container {
        background-image: url(../images/sonos_image2_desktop@2x.png);
    }

    .container:nth-of-type(3) .content-image-container {
        background-image: url(../images/sonos_image3_desktop@2x.png);
    }

    .container:nth-of-type(4) .content-image-container {
        background-image: url(../images/sonos_image4_desktop@2x.png);
    }

    .container:nth-of-type(5) .content-image-container {
        background-image: url(../images/sonos_image5_desktop@2x.png);
    }

    .sonos-succes-image-block {
        background-image: url("../images/sonos_successimg_desktop@2x.png");
    }
}

@media screen and (min-width: 768px) and (max-width: 1025px) {

    .mycloud-logo {
        padding: 5px 0 0 7px;
    }

    .title {
        padding: 40px 0;
    }

    .content {
        padding: 0 25px;
        font-size: 18px;
    }

    .content:last-of-type {
        margin: 20px auto 40px auto;
    }

    .containers {
        margin: 0 25px;
        width: inherit;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .container {
        width: 50%;
        max-width: inherit;
    }

    .container p {
        font-size: 18px;
    }

    .content-image-container img {
        width: 100%;
        height: auto;
    }

    .container:first-of-type .content-image-container {
        background-image: url(../images/sonos_image1_tablet.png);
    }

    .container:nth-of-type(2) .content-image-container {
        background-image: url(../images/sonos_image2_tablet.png);
    }

    .container:nth-of-type(3) .content-image-container {
        background-image: url(../images/sonos_image3_tablet.png);
    }

    .container:nth-of-type(4) .content-image-container {
        background-image: url(../images/sonos_image4_tablet.png);
    }

    .container:nth-of-type(5) .content-image-container {
        background-image: url(../images/sonos_image5_tablet.png);
    }

    .sonos-succes-image-block {
        height: 508px;
        background-image: url("../images/sonos_successimg_tablet.png");
    }

    .mobile, .desktop {
        display: none;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1025px),
only screen and (   min--moz-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1025px),
only screen and (     -o-min-device-pixel-ratio: 2/1) and (min-width: 768px) and (max-width: 1025px),
only screen and (        min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1025px) {
    .container:first-of-type .content-image-container {
        background-image: url(../images/sonos_image1_tablet@2x.png);
    }

    .container:nth-of-type(2) .content-image-container {
        background-image: url(../images/sonos_image2_tablet@2x.png);
    }

    .container:nth-of-type(3) .content-image-container {
        background-image: url(../images/sonos_image3_tablet@2x.png);
    }

    .container:nth-of-type(4) .content-image-container {
        background-image: url(../images/sonos_image4_tablet@2x.png);
    }

    .container:nth-of-type(5) .content-image-container {
        background-image: url(../images/sonos_image5_tablet@2x.png);
    }

    .sonos-succes-image-block {
        background-image: url("../images/sonos_successimg_tablet@2x.png");
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {

    .mycloud-logo-container {
        width: 60px;
        height: 48px;
        overflow: hidden;
    }

    .mycloud-logo-text {
        display: block;
        position: absolute;
        font-size: 20px;
        text-align: center;
        width: 100%;
        margin: 0;
        top: 15px;
    }

    .mycloud-logo {
        padding: 5px 0 0 7px;
    }

    .sonos-logo-container {
        margin-top: 15px;
    }

    .title {
        font-size: 30px;
        padding: 10px 0 22px 0;
    }

    .content {
        font-size: 16px;
        padding: 0 16px;
    }

    .content:last-of-type {
        margin: 20px auto 40px auto;
    }

    .succes-page .content:last-of-type {
        margin: 20px 25px 25px 25px;
    }

    .succes-page .content {
        display: block;
    }

    .succes-page .title {
        padding-bottom: 15px;
    }

    .succes-image-block {
        margin: 30px auto;
    }

    .containers {
        margin: 0 10px;
        width: inherit;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container {
        width: 100%;
    }

    .content-image-container {
        padding: 0;
    }

    .sonos-logo-container .sonos-logo {
        height: 70px;
    }

    .container:first-of-type .content-image-container {
        background-image: url(../images/sonos_image1_mobile.png);
    }

    .container:nth-of-type(2) .content-image-container {
        background-image: url(../images/sonos_image2_mobile.png);
    }

    .container:nth-of-type(3) .content-image-container {
        background-image: url(../images/sonos_image3_mobile.png);
    }

    .container:nth-of-type(4) .content-image-container {
        background-image: url(../images/sonos_image4_mobile.png);
    }

    .container:nth-of-type(5) .content-image-container {
        background-image: url(../images/sonos_image5_mobile.png);
    }

    .sonos-succes-image-block {
        height: 391px;
        background-image: url("../images/sonos_successimg_mobile.png");
    }

    .tablet, .desktop {
        display: none;
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)       and (min-width: 320px) and (max-width: 767px),
only screen and (   min--moz-device-pixel-ratio: 2)       and (min-width: 320px) and (max-width: 767px),
only screen and (     -o-min-device-pixel-ratio: 2/1)     and (min-width: 320px) and (max-width: 767px),
only screen and (        min-device-pixel-ratio: 2)       and (min-width: 320px) and (max-width: 767px) {
    .container:first-of-type .content-image-container {
        background-image: url(../images/sonos_image1_mobile@2x.png);
    }

    .container:nth-of-type(2) .content-image-container {
        background-image: url(../images/sonos_image2_mobile@2x.png);
    }

    .container:nth-of-type(3) .content-image-container {
        background-image: url(../images/sonos_image3_mobile@2x.png);
    }

    .container:nth-of-type(4) .content-image-container {
        background-image: url(../images/sonos_image4_mobile@2x.png);
    }

    .container:nth-of-type(5) .content-image-container {
        background-image: url(../images/sonos_image5_mobile@2x.png);
    }

    .sonos-succes-image-block {
        background-image: url("../images/sonos_successimg_mobile@2x.png");
    }
}
