@font-face {
    font-family: 'CeraProModern';
    src: url('../font/regular.woff');
    font-weight: 400;
    font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

html {
    font-feature-settings: "lnum","onum" 0,"pnum","tnum" 0;
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'CeraProModern', 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.004em;
    color: #333333;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    background: #fff;
}

.g-container {
    padding-bottom: 60px;
}

.bold {
    font-weight: bold;
}

.mycloud-logo-container {
    height: 54px;
}

.mycloud-logo {
    margin: 6px 0 0 16px;
}

.ifttt-logo-container {
    margin: 20px 0 10px 0;
}

.ifttt-logo {
    margin: 0 auto;
    display: block;
    width: 200px;
}

.header {
    font-size: 38px;
    padding: 22px;
    text-align: center;
}

.content {
    text-align: center;
    font-size: 16px;
}

.social-containers {
    width: 95%;
    max-width: 1280px;
    padding: 0;
    margin: 30px auto 0 auto;
    list-style: none;
    font-size: 0;
    text-align: center;
    display: block;
}

.social-container {
    vertical-align: top;
    max-width: 360px;
    margin: 1px;
    width: calc(25% - 3px);
    padding-bottom: 20%;
    position: relative;
    display: inline-block;
}

.social-container-content-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.social-container-content-wrapper h4 {
    color: white;
    padding: 7% 10px 10px 10px;
    text-align: center;
    font-size: 18px;
    line-height: 1.3;
}

.social-container-content-wrapper .container-logo {
    width: 30%;
    top: 50%;
    left: 50%;
    position: absolute;
    margin: -15% 0 0 -15%;
}

.social-container-content-wrapper .container-background {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 80%;
    margin-left: -40%;
}

.gmail {
    background-color: #FF965D;
}

.fb {
    background-color: #78C3FD;
}

.instagram {
    background-color: #FFDC76;
}

.instagram h4 {
    color: #333333;
}

.more {
    background-color: #98ECB1;
}

.more h4 {
    color: #333333;
}

.btn {
    font-family: 'CeraProModern', sans-serif;
    background: none;
    padding: 12px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: none;
    border: none;
    line-height: 100%;
    -webkit-appearance: none;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    position: relative;
    transition: background .15s ease;
    max-width: 350px;
    margin: 0 auto;
    display: block;
    text-transform: uppercase;
    font-weight: 500;
}

.btn-primary {
    background: #00A0DF;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0CACEB;
}

.button-container {
    padding: 0 20px;
}

.button-container.desktop {
    padding: 50px 20px;
}

.tablet {
    display: none;
}

.mobile {
    display: none;
}

@media screen and (min-width: 600px) and (max-width: 1023px) {

    .mycloud-logo {
        margin: 5px 0 5px 7px;
    }

    .content {
        width: 95%;
        margin: 0 auto;
    }

    .social-containers {
        width: 95%;
        margin: 48px auto 0 auto;
    }

    .social-container {
        width: calc(50% - 3px);
        padding-bottom: 36%;
    }

    .button-container.tablet {
        width: 95%;
        margin: 0 auto;
        padding: 48px 0 0 0;
    }

    .btn {
        padding: 12px;
    }

    .desktop {
        display: none;
    }

    .tablet {
        display: block;
    }
}

@media screen and (min-width: 320px) and (max-width: 599px) {

    .mycloud-logo-container {
        width: 60px;
        overflow: hidden;
    }

    .mycloud-logo-text {
        position: absolute;
        font-size: 22px;
        text-align: center;
        display: block;
        width: 100%;
        margin: 0;
        top: 15px;
    }

    .mycloud-logo {
        margin: 5px 0 5px 7px;
    }

    .btn {
        font-size: 16px;
    }

    .button-container {
        margin-top: 30px;
    }

    .content {
        padding: 0 20px;
    }

    .social-containers {
        width: 100%;
        margin: 30px 0 0;
        flex-wrap: wrap;
    }

    .social-container {
        width: 100%;
        padding-bottom: 280px;
    }

    .ifttt-logo {
        width: 50%;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
}
